body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.w-100{
  width: 100%;
}

.d-flex-center{
  display: flex;
  justify-content: center;
}

.mtb-20 {
  margin: 20px 0px;
}

.mlr-20 {
  margin: 0 20px;
}

.p-10 {
  padding: 10px;
}